.header {
  box-sizing: border-box;
  background: #ffffff;
  border-style: solid;
  border-color: #233c06;
  border-width: 1px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: index 10;
}
.nomesito {
  color: #233c06;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  position: relative;
}
.nav {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: relative;
}
 
.parchi {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: relative;
}
.attivita-ed-esperienze {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
}
.titolohero {
  color: #233c06;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 65px;
  line-height: 88px;
  font-weight: 700;
  position: absolute;
  left: 160px;
  top: 166px;
  width: 446px;
  height: 183px;
}
.testohero {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  line-height: 54px;
  font-weight: 500;
  position: absolute;
  left: 702px;
  top: 231px;
  width: 598px;

}
.imghero {
  
  height: 461px;
  position: absolute;
  left: 0px;
  top: 416px;
  object-fit: cover;
  display: flex;
  width: 100%;
}
.in-primo-piano {
  color: #233c06;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  line-height: 54px;
  font-weight: 500;
  position: absolute;
  left: 160px;
  top: 951px;
  width: 192px;
}
.line-1 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 1120px;
  height: 0px;
  position: absolute;
  left: 160px;
  top: 1008px;
}

.cardvesuvio {
  position: absolute;
  
}
.rettangolovesuvio {
  background: #ffffff;
  border-style: solid;
  border-color: #233c06;
  border-width: 2px;
  width: 545px;
  height: 127px;
  position: absolute;
  left: 739px;
  top: 1395px;
}
.parconazionaledelvesuvio {
  color: #000000;
  text-align: left;
  font-family: "RadioCanada-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 814px;
  top: 1436px;
  width: 396px;
  height: 35px;
}
.vesuvio-1 {
  width: 545px;
  height: 341px;
  position: absolute;
  left: 739px;
  top: 1054px;
  object-fit: cover;
}
.cardsila {
  position: absolute;
 
}
.sila {
  width: 540px;
  height: 338px;
  position: absolute;
  left: 164px;
  top: 1563px;
  object-fit: cover;
}
.rettangolosila {
  background: #ffffff;
  border-style: solid;
  border-color: #233c06;
  border-width: 2px;
  width: 540px;
  height: 127px;
  position: absolute;
  left: 164px;
  top: 1901px;
}
.parconazionaledellasila {
  color: #000000;
  text-align: left;
  font-family: "RadioCanada-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 249px;
  top: 1947px;
  width: 370px;
  height: 35px;
}
.cardetna {
  position: absolute;
 
}
.etna {
  width: 538.41px;
  height: 339.33px;
  position: absolute;
  left: 163.54px;
  top: 1053.37px;
  object-fit: cover;
}
.rettangoloetna {
  background: #ffffff;
  border-style: solid;
  border-color: #233c06;
  border-width: 2px;
  width: 538.41px;
  height: 126.38px;
  position: absolute;
  left: 163.54px;
  top: 1392.7px;
}
.parcodelletna {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 318px;
  top: 1440px;
  width: 229px;
  height: 36px;
}
.cardalm {
  position: absolute;
 
}
.alm {
  width: 540px;
  height: 338px;
  position: absolute;
  left: 739px;
  top: 1563px;
  object-fit: cover;
}
.rettangoloalm {
  background: #ffffff;
  border-style: solid;
  border-color: #233c06;
  border-width: 2px;
  width: 540px;
  height: 127px;
  position: absolute;
  left: 739px;
  top: 1901px;
}
.parconazionaledabruzzolazioemolise {
  color: #000000;
  text-align: left;
  font-family: "RadioCanada-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 824px;
  top: 1929px;
  width: 370px;
  height: 71px;
}
.bottoneattività {
  background: #000000;
  width: 256px;
  height: 64px;
  position: absolute;
  left: 691px;
  top: 2487px;
}
.testobottoneattività {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 54px;
  font-weight: 700;
  position: absolute;
  left: 747px;
  top: 2492px;
}
.titolo {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 38px;
  line-height: 54px;
  font-weight: 700;
  position: absolute;
  left: 691px;
  top: 2180px;
  width: 512px;
  height: 54px;
}
.testoattività {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 20px;
  line-height: 54px;
  font-weight: 500;
  position: absolute;
  left: 691px;
  top: 2244px;
  width: 575px;
}

.rettangolofooter {
  background: #233c06;
  height: 205px;
  position: relative;
  left: 0px;
  top: 2746px;
  width: 1800px;
  display: flex;
}

.attività {
  width: 448px;
  height: 465px;
  position: absolute;
  left: 172px;
  top: 2132px;
  object-fit: cover;
}
.rettangolo-1 {
  background: #233c06;
  width: 650px;
  height: 465px;
  position: absolute;
  left: 640px;
  top: 2132px;
}

.nomesito2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 35px;
  line-height: 24px;
  font-weight: 700;
  position: absolute;
  left: 943px;
  top: 2837px;

}
.nomesito3 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
  position: absolute;
  left: 164px;
  top: 2837px;
}

a{
  pointer-events: auto;
  cursor: pointer;
  text-decoration: none;
  color: #000000;
}
.bottoneattività{
  display: inline;
  background-color: #000000;
  color: #ffffff;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 64px;
  font-weight: 700;
  text-align: center;
text-decoration: none;
width: 256px;
height: 64px;
position: absolute;
left: 691px;
top: 2487px;
display: block;
}

.titoloheroparchi {
  color: #233c06;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 50px;
  line-height: 54px;
  font-weight: 700;
  position: absolute;
  left: 160px;
  top: 133px;
  width: 576px;
  height: 59px;
}
.line-4 {
  margin-top: -5px;
  border-style: solid;
  border-color: #233c06;
  border-width: 5px 0 0 0;
  width: 108px;
  height: 0px;
  position: absolute;
  left: 160px;
  top: 251px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.testoheroparchi {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  line-height: 54px;
  font-weight: 500;
  position: absolute;
  left: 193px;
  top: 251px;
  width: 1088px;
}
.card-1-etna {
  position: absolute;
  
}
.rectangle-34 {
  background: #65712a;
  width: 540px;
  height: 84px;
  position: absolute;
  left: 160px;
  top: 877px;
}
.parco-nazionale-dell-etna {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  text-decoration: underline;
  position: absolute;
  left: 281px;
  top: 904px;
  width: 359px;
  height: 30px;
}
.etna-1 {
  width: 540px;
  height: 448px;
  position: absolute;
  left: 160px;
  top: 428px;
  object-fit: cover;
}
.etna-1-1 {
  width: 10.67px;
  height: 8px;
  position: absolute;
  left: 449px;
  top: 652px;
  aspect-ratio: 10.67/8;
}
.card-2-sila {
  position: absolute;
  
}
.rectangle-35 {
  background: #65712a;
  width: 540px;
  height: 84px;
  position: absolute;
  left: 739px;
  top: 877px;
}
.parco-nazionale-della-sila {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  text-decoration: underline;
  position: absolute;
  left: 826px;
  top: 904px;
  width: 367px;
}
.sila-2 {
  width: 540px;
  height: 448px;
  position: absolute;
  left: 740px;
  top: 428px;
  object-fit: cover;
}
.card-3-vesuvio {
  position: absolute;
  
}
.rectangle-33 {
  background: #65712a;
  width: 540px;
  height: 84px;
  position: absolute;
  left: 160px;
  top: 1455px;
}
.parco-nazionale-del-vesuvio {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  text-decoration: underline;
  position: absolute;
  left: 275px;
  top: 1482px;
  width: 402px;
}
.vesuvio {
  width: 540px;
  height: 448px;
  position: absolute;
  left: 160px;
  top: 1006px;
  object-fit: cover;
}
.card-4-alm {
  position: absolute;
 
}
.rectangle-36 {
  background: #65712a;
  width: 540px;
  height: 84px;
  position: absolute;
  left: 740px;
  top: 1455px;
}
.parco-nazionale-d-abruzzo-lazio-e-molise {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  text-decoration: underline;
  position: absolute;
  left: 760px;
  top: 1482px;
  width: 499px;
}
.alm2 {
  width: 540px;
  height: 448px;
  position: absolute;
  left: 740px;
  top: 1006px;
  object-fit: cover;
}
.altri-parchi {
  color: #233c06;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  line-height: 54px;
  font-weight: 500;
  position: absolute;
  left: 171px;
  top: 1584px;
  width: 324px;
}
.line-2 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 1120px;
  height: 0px;
  position: absolute;
  left: 171px;
  top: 1638px;
}
.card-1 {
  position: absolute;
  
}
._1 {
  width: 256px;
  height: 256px;
  position: absolute;
  left: 160px;
  top: 1706px;
  object-fit: cover;
}
.parco-nazionale-dell-arcipelago-toscano {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  line-height: 54px;
  font-weight: 500;
  position: absolute;
  left: 160px;
  top: 1962px;
  width: 256px;
}
.card-2 {
  position: absolute;
  
}
._2 {
  width: 256px;
  height: 256px;
  position: absolute;
  left: 448px;
  top: 1706px;
  object-fit: cover;
}
.parco-nazionale-del-gran-paradiso {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  line-height: 54px;
  font-weight: 500;
  position: absolute;
  left: 448px;
  top: 1962px;
  width: 252px;
}
.card-3 {
  position: absolute;
  
}
._3 {
  width: 256px;
  height: 256px;
  position: absolute;
  left: 736px;
  top: 1706px;
  object-fit: cover;
}
.parco-nazionale-delle-cinque-terre {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  line-height: 54px;
  font-weight: 500;
  position: absolute;
  left: 736px;
  top: 1962px;
  width: 251px;
}
.card-4 {
  position: absolute;

}
._4 {
  width: 256px;
  height: 256px;
  position: absolute;
  left: 1024px;
  top: 1706px;
  object-fit: cover;
}
.parco-nazionale-del-pollino {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  line-height: 54px;
  font-weight: 500;
  position: absolute;
  left: 1024px;
  top: 1962px;
  width: 256px;
}
.card-5 {
  position: absolute;
 
}
._5 {
  width: 256px;
  height: 256px;
  position: absolute;
  left: 160px;
  top: 2192px;
  object-fit: cover;
}
.parco-nazionale-delle-dolomiti-bellunesi {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  line-height: 54px;
  font-weight: 500;
  position: absolute;
  left: 160px;
  top: 2448px;
  width: 256px;
}
.card-6 {
  position: absolute;
  
}
._6 {
  width: 256px;
  height: 256px;
  position: absolute;
  left: 448px;
  top: 2192px;
  object-fit: cover;
}
.parco-nazionale-dell-arcipelago-di-la-maddalena {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  line-height: 54px;
  font-weight: 500;
  position: absolute;
  left: 448px;
  top: 2448px;
  width: 256px;
}
.card-7 {
  position: absolute;
  
}
._7 {
  width: 256px;
  height: 256px;
  position: absolute;
  left: 736px;
  top: 2192px;
  object-fit: cover;
}
.parco-nazionale-del-cilento-vallo-di-diano-e-alburni {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  line-height: 54px;
  font-weight: 500;
  position: absolute;
  left: 736px;
  top: 2448px;
  width: 256px;
}
.card-8 {
  position: absolute;
  
}
._8 {
  width: 256px;
  height: 256px;
  position: absolute;
  left: 1024px;
  top: 2192px;
  object-fit: cover;
}
.parco-nazionale-delle-foreste-casentinesi-monte-falterona-e-campigna {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  line-height: 54px;
  font-weight: 500;
  position: absolute;
  left: 1024px;
  top: 2448px;
  width: 256px;
}
.rettangolofooter {
  background: #233c06;
  height: 205px;
  position: absolute;
  left: 0px;
  top: 2817px;
  display: flex;
  width: 100%;
}
.nomesito2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 35px;
  line-height: 24px;
  font-weight: 700;
  position: absolute;
  left: 943px;
  top: 2908px;
}
.nomesito3 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
  position: absolute;
  left: 164px;
  top: 2900px;
}

.parco-4,
.parco-4 * {
  box-sizing: border-box;
}
.parco-4 {
  background: #ffffff;
  height: 5802px;
  position: relative;
  overflow: hidden;
}

.parco-dell-etna {
  color: #233c06;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 50px;
  line-height: 54px;
  font-weight: 700;
  position: absolute;
  left: 160px;
  top: 172px;
  width: 631px;
  height: 75px;
}
.paragrafo{
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  left: 643px;
  top: 655px;
  width: 631px;
  height: 509px;
}
.paragrafo1{
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 25px;
  font-weight: 600;
  position: absolute;
  left: 164px;
  top: 472px;
  width: 444px;
  height: 614px;
}
.paragrafo2{
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  left: 160px;
  top: 3732px;
  width: 1114px;
  height: 734px;
}
.paragrafo3{
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  left: 160px;
  top: 1254px;
  width: 1114px;
  height: 464px;
}
.paragrafo4{
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  left: 165px;
  top: 2870px;
  width: 622px;
  height: 699px;
}
.paragrafo5{
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  left: 160px;
  top: 1883px;
  width: 1114px;
  height: 824px;
}
.il-parco {
  color: #233c06;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  line-height: 54px;
  font-weight: 500;
  position: absolute;
  left: 164px;
  top: 374px;
  width: 192px;
}
.punti-d-interesse {
  color: #233c06;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  line-height: 54px;
  font-weight: 500;
  position: absolute;
  left: 160px;
  top: 1165px;
  width: 288px;
}
.attivit-specifiche {
  color: #233c06;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  line-height: 54px;
  font-weight: 500;
  position: absolute;
  left: 160px;
  top: 1788px;
  width: 288px;
}
.cenni-su-flora-e-fauna {
  color: #233c06;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  line-height: 54px;
  font-weight: 500;
  position: absolute;
  left: 160px;
  top: 2781px;
  width: 288px;
}
.informazioni-utili {
  color: #233c06;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  line-height: 54px;
  font-weight: 500;
  position: absolute;
  left: 160px;
  top: 3643px;
  width: 288px;
}
.line-7 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 1120px;
  height: 0px;
  position: absolute;
  left: 164px;
  top: 428px;
}
.line-8 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 1120px;
  height: 0px;
  position: absolute;
  left: 160px;
  top: 1219px;
}
.line-9 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 1120px;
  height: 0px;
  position: absolute;
  left: 160px;
  top: 1842px;
}
.line-10 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 1120px;
  height: 0px;
  position: absolute;
  left: 160px;
  top: 2835px;
}
.line-11 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 1120px;
  height: 0px;
  position: absolute;
  left: 160px;
  top: 3697px;
}
.etna1 {
  width: 448px;
  height: 434px;
  position: absolute;
  left: 164px;
  top: 657px;
  object-fit: cover;
}
.r-1 {
  width: 448px;
  height: 220px;
  position: absolute;
  left: 832px;
  top: 2870px;
  object-fit: cover;
}
.oip-1 {
  width: 448px;
  height: 220px;
  position: absolute;
  left: 832px;
  top: 3110px;
  object-fit: cover;
}
.r-2 {
  width: 448px;
  height: 220px;
  position: absolute;
  left: 832px;
  top: 3349px;
  object-fit: cover;
}
.anteprima{
  color: #000000;
  text-align: left;
  font-family: "Inter-Italic", sans-serif;
  font-size: 25px;
  font-weight: 400;
  font-style: italic;
  position: absolute;
  left: 164px;
  top: 283px;
  width: 1116px;
}
.rectangle-69 {
  background: #d9d9d9;
  width: 448px;
  height: 524px;
  position: absolute;
  left: 160px;
  top: 4939px;
}
.r-12 {
  width: 561px;
  height: 524px;
  position: absolute;
  left: 713px;
  top: 4939px;
  object-fit: cover;
}
.rectangle-74 {
  background: #d9d9d9;
  width: 448px;
  height: 524px;
  position: absolute;
  left: 160px;
  top: 4939px;
}
.rectangle-52 {
  background: #d9d9d9;
  width: 448px;
  height: 524px;
  position: absolute;
  left: 165px;
  top: 4939px;
}
.rectangle-65 {
  background: #65712a;
  width: 516px;
  height: 524px;
  position: absolute;
  left: 165px;
  top: 4939px;
}
.rectangle-66 {
  background: #000000;
  width: 192px;
  height: 48px;
  position: absolute;
  left: 224px;
  top: 5324px;
}
.vai-al-parco {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  position: absolute;
  left: 243px;
  top: 5336px;
}
.anteprima2{
  color: #000000;
  text-align: left;
  font-family: "Inter-Italic", sans-serif;
  font-size: 25px;
  font-weight: 400;
  font-style: italic;
  position: absolute;
  left: 225px;
  top: 5147px;
  width: 298px;
}
.scopri-il-parco-d-abruzzo-lazio-e-molise {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  left: 224px;
  top: 5038px;
  width: 425px;
}
.img-escu-45167 {
  width: 1120px;
  height: 290px;
  position: absolute;
  left: 160px;
  top: 2350px;
  object-fit: cover;
}
.r-3 {
  width: 499px;
  height: 326px;
  position: absolute;
  left: 167px;
  top: 4450px;
  object-fit: cover;
}
.tour-4-x-4-etna-1920-x-0-c-default {
  width: 499px;
  height: 326px;
  position: absolute;
  left: 775px;
  top: 4450px;
  object-fit: cover;
}
.rettangolofooter1 {
  background: #233c06;
  width: 100%;
  height: 205px;
  position: absolute;
  left: 0px;
  top: 5603px;

}
.nomesito21 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 35px;
  line-height: 24px;
  font-weight: 700;
  position: absolute;
  left: 934px;
  top: 5683px;
}
.nomesito31 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
  position: absolute;
  left: 158px;
  top: 5683px;
}

.titolosila {
  color: #233c06;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 50px;
  line-height: 54px;
  font-weight: 700;
  position: absolute;
  left: 164px;
  top: 135px;
  width: 631px;
  height: 167px;
}
.testosila {
  color: #000000;
  text-align: left;
  font-family: "Inter-Italic", sans-serif;
  font-size: 25px;
  font-weight: 400;
  font-style: italic;
  position: absolute;
  left: 164px;
  top: 283px;
  width: 1084px;
}
.il-parco {
  color: #233c06;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  line-height: 54px;
  font-weight: 500;
  position: absolute;
  left: 164px;
  top: 374px;
  width: 192px;
}
.linea1 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 1120px;
  height: 0px;
  position: absolute;
  left: 164px;
  top: 428px;
}
.par {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 25px;
  font-weight: 600;
  position: absolute;
  left: 160px;
  top: 456px;
  width: 446px;
  height: 449px;
}
.par1 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  left: 640px;
  top: 686px;
  width: 640px;
  height: 309px;
}
.parcosila {
  width: 444px;
  height: 314px;
  position: absolute;
  left: 162px;
  top: 681px;
  object-fit: cover;
}
.puntidinteresse {
  color: #233c06;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  line-height: 54px;
  font-weight: 500;
  position: absolute;
  left: 160px;
  top: 1061px;
  width: 288px;
}
.linea2 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 1120px;
  height: 0px;
  position: absolute;
  left: 160px;
  top: 1115px;
}
.par2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  left: 160px;
  top: 1150px;
  width: 1120px;
  height: 419px;
}
.attivitaspecifiche {
  color: #233c06;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  line-height: 54px;
  font-weight: 500;
  position: absolute;
  left: 160px;
  top: 1635px;
  width: 288px;
}
.linea3 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 1120px;
  height: 0px;
  position: absolute;
  left: 160px;
  top: 1689px;
}
.par3 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  left: 160px;
  top: 1723px;
  width: 1120px;
  height: 553px;
}
.r {
  width: 1120px;
  height: 295px;
  position: absolute;
  left: 160px;
  top: 2170px;
  object-fit: cover;
}
.cennisufloraefauna {
  color: #233c06;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  line-height: 54px;
  font-weight: 500;
  position: absolute;
  left: 154px;
  top: 2593px;
  width: 288px;
}
.linea4 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 1120px;
  height: 0px;
  position: absolute;
  left: 154px;
  top: 2647px;
}
.par4 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  left: 159px;
  top: 2682px;
  width: 635px;
  height: 674px;
}
.foto {
  width: 448px;
  height: 209px;
  position: absolute;
  left: 826px;
  top: 2682px;
  object-fit: cover;
}
.spiesser-b-972150-b-f-1-d-6-497-a-b-39-a-b-18-a-6-f-49-c-671 {
  width: 448px;
  height: 209px;
  position: absolute;
  left: 826px;
  top: 2911px;
  object-fit: cover;
}
.ax-5-hceavrzftfprfkcjh {
  width: 448px;
  height: 209px;
  position: absolute;
  left: 826px;
  top: 3142px;
  object-fit: cover;
}
.informazioniutili {
  color: #233c06;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  line-height: 54px;
  font-weight: 500;
  position: absolute;
  left: 160px;
  top: 3487px;
  width: 288px;
}
.linea5 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 1120px;
  height: 0px;
  position: absolute;
  left: 160px;
  top: 3541px;
}
.par5 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  left: 160px;
  top: 3576px;
  width: 1120px;
  height: 1079px;
}
.parco-nazionale-sila-5-1 {
  width: 499px;
  height: 326px;
  position: absolute;
  left: 159px;
  top: 4550px;
  object-fit: cover;
  aspect-ratio: 499/326;
}
.lana-002-1024-x-681 {
  width: 499px;
  height: 326px;
  position: absolute;
  left: 781px;
  top: 4550px;
  object-fit: cover;
}
.rectangle-52 {
  background: #65712a;
  width: 516px;
  height: 524px;
  position: absolute;
  left: 164px;
  top: 5144px;
}
.scopri-il-parco-del-vesuvio {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  left: 220px;
  top: 5252px;
  width: 456px;
}
.testoanteprimavesuvio {
  color: #000000;
  text-align: left;
  font-family: "Inter-Italic", sans-serif;
  font-size: 25px;
  font-weight: 400;
  font-style: italic;
  position: absolute;
  left: 220px;
  top: 5322px;
  width: 347px;
}
.rectangle-66 {
  background: #000000;
  width: 224px;
  height: 48px;
  position: absolute;
  left: 224px;
  top: 5524px;
}
.vai-al-parcovesuvio {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  position: absolute;
  left: 246px;
  top: 5536px;
  width: 180px;
}
.image {
  width: 577px;
  height: 524px;
  position: absolute;
  left: 703px;
  top: 5144px;
  object-fit: cover;
}
.rettangolofooter3 {
  background: #233c06;
  width: 100%;
  height: 205px;
  position: absolute;
  left: 0px;
  top: 5802px;

}
.nomesito23 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 35px;
  line-height: 24px;
  font-weight: 700;
  position: absolute;
  left: 943px;
  top: 5893px;
}
.nomesito33 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
  position: absolute;
  left: 164px;
  top: 5893px;
}


.titolovesuvio {
  color: #233c06;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 50px;
  line-height: 54px;
  font-weight: 700;
  position: absolute;
  left: 164px;
  top: 135px;
  width: 631px;
  height: 167px;
}
.testovesuvio {
  color: #000000;
  text-align: left;
  font-family: "Inter-Italic", sans-serif;
  font-size: 25px;
  font-weight: 400;
  font-style: italic;
  position: absolute;
  left: 164px;
  top: 283px;
  width: 1084px;
}
.il-parco {
  color: #233c06;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  line-height: 54px;
  font-weight: 500;
  position: absolute;
  left: 164px;
  top: 374px;
  width: 192px;
}
.line-7 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 1120px;
  height: 0px;
  position: absolute;
  left: 164px;
  top: 428px;
}
.pg1 {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 25px;
  font-weight: 600;
  position: absolute;
  left: 160px;
  top: 464px;
  width: 448px;
  height: 584px;
}
.pg2{
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  left: 640px;
  top: 645px;
  width: 637px;
  height: 479px;
}
.vesuvio2 {
  width: 448px;
  height: 425px;
  position: absolute;
  left: 160px;
  top: 623px;
  object-fit: cover;
}
.punti-d-interesse {
  color: #233c06;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  line-height: 54px;
  font-weight: 500;
  position: absolute;
  left: 160px;
  top: 1096px;
  width: 288px;
}
.line-8 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 1120px;
  height: 0px;
  position: absolute;
  left: 160px;
  top: 1150px;
}
.pg3 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  left: 160px;
  top: 1185px;
  width: 1120px;
  height: 404px;
}
.attivita-specifiche {
  color: #233c06;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  line-height: 54px;
  font-weight: 500;
  position: absolute;
  left: 160px;
  top: 1637px;
  width: 288px;
}
.line-9 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 1120px;
  height: 0px;
  position: absolute;
  left: 160px;
  top: 1691px;
}
.pg4 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  left: 160px;
  top: 1732px;
  width: 1114px;
  height: 419px;
}
.ascension-vesuve-768-x-513 {
  width: 1120px;
  height: 305px;
  position: absolute;
  left: 160px;
  top: 2200px;
  object-fit: cover;
}
.cenni-su-flora-e-fauna1 {
  color: #233c06;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  line-height: 54px;
  font-weight: 500;
  position: absolute;
  left: 160px;
  top: 2606px;
  width: 288px;
}
.line-10 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 1120px;
  height: 0px;
  position: absolute;
  left: 160px;
  top: 2660px;
}
.pg5 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  left: 165px;
  top: 2695px;
  width: 635px;
  height: 644px;
}
.rfoto {
  width: 448px;
  height: 294px;
  position: absolute;
  left: 832px;
  top: 2695px;
  object-fit: cover;
}
.la-fauna-ente-parco-nazionale-del-vesuvio-01 {
  width: 448px;
  height: 294px;
  position: absolute;
  left: 832px;
  top: 3040px;
  object-fit: cover;
}
.informazioni-utili {
  color: #233c06;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  line-height: 54px;
  font-weight: 500;
  position: absolute;
  left: 159px;
  top: 3414px;
  width: 288px;
}
.line-11 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 1120px;
  height: 0px;
  position: absolute;
  left: 159px;
  top: 3468px;
}
.pg6 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  left: 154px;
  top: 3503px;
  width: 1119px;
  height: 1079px;
}
.escursione-cratere-vesuvio-ph-gianfranco-adduci-681-x-454 {
  width: 499px;
  height: 326px;
  position: absolute;
  left: 165px;
  top: 4677px;
  object-fit: cover;
}
.ves-termica {
  width: 499px;
  height: 326px;
  position: absolute;
  left: 774px;
  top: 4677px;
  object-fit: cover;
}
.rectangolo-anteprima {
  background: #65712a;
  width: 516px;
  height: 524px;
  position: absolute;
  left: 154px;
  top: 5098px;
}
.scopri-il-parco-dell-etna {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  left: 218px;
  top: 5195px;
}
.anteprimaetna {
  color: #000000;
  text-align: left;
  font-family: "Inter-Italic", sans-serif;
  font-size: 25px;
  font-weight: 400;
  font-style: italic;
  position: absolute;
  left: 218px;
  top: 5276px;
  width: 298px;
}
.rectangle-bottom {
  background: #000000;
  width: 192px;
  height: 48px;
  position: absolute;
  left: 218px;
  top: 5478px;
}
.vai-al-parcoetna {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  position: absolute;
  left: 237px;
  top: 5490px;
}
.cie-etna-stromboli-1 {
  width: 576px;
  height: 524px;
  position: absolute;
  left: 704px;
  top: 5098px;
  object-fit: cover;
}
.rettangolofooter4 {
  background: #233c06;
  width: 100%;
  height: 205px;
  position: absolute;
  left: 0px;
  top: 5751px;
}
.nomesito24 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 35px;
  line-height: 24px;
  font-weight: 700;
  position: absolute;
  left: 937px;
  top: 5837px;
}
.nomesito34 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
  position: absolute;
  left: 161px;
  top: 5837px;
}


.titoloalm {
  color: #233c06;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 50px;
  line-height: 54px;
  font-weight: 700;
  position: absolute;
  left: 164px;
  top: 135px;
  width: 631px;
  height: 167px;
}
.testoalm {
  color: #000000;
  text-align: left;
  font-family: "Inter-Italic", sans-serif;
  font-size: 25px;
  font-weight: 400;
  font-style: italic;
  position: absolute;
  left: 164px;
  top: 283px;
  width: 1084px;
}
.il-parco {
  color: #233c06;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  line-height: 54px;
  font-weight: 500;
  position: absolute;
  left: 164px;
  top: 374px;
  width: 192px;
}
.line-11 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 1120px;
  height: 0px;
  position: absolute;
  left: 164px;
  top: 428px;
}
.p1 {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 25px;
  font-weight: 600;
  position: absolute;
  left: 164px;
  top: 470px;
  width: 444px;
  height: 119px;
}
.p2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  left: 643px;
  top: 520px;
  width: 631px;
  height: 479px;
}
.parcoalm1 {
  width: 452px;
  height: 333px;
  position: absolute;
  left: 160px;
  top: 611px;
  object-fit: cover;
}
.punti-d-interesse {
  color: #233c06;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  line-height: 54px;
  font-weight: 500;
  position: absolute;
  left: 160px;
  top: 978px;
  width: 288px;
}
.line-22 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 1120px;
  height: 0px;
  position: absolute;
  left: 160px;
  top: 1032px;
}
.p3 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  left: 160px;
  top: 1067px;
  width: 1124px;
  height: 419px;
}
.attivit-specifiche {
  color: #233c06;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  line-height: 54px;
  font-weight: 500;
  position: absolute;
  left: 164px;
  top: 1515px;
  width: 288px;
}
.line-33 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 1120px;
  height: 0px;
  position: absolute;
  left: 164px;
  top: 1569px;
}
.p4 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  left: 164px;
  top: 1610px;
  width: 1114px;
  height: 494px;
}
.tour-in-e-bike-nellarea-del-lago-di-barrea-umberto-esposito-wildlife-adventures-02 {
  width: 1126px;
  height: 295px;
  position: absolute;
  left: 154px;
  top: 2123px;
  object-fit: cover;
}
.cenni-su-flora-e-fauna {
  color: #233c06;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  line-height: 54px;
  font-weight: 500;
  position: absolute;
  left: 160px;
  top: 2438px;
  width: 288px;
}
.line-44 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 1120px;
  height: 0px;
  position: absolute;
  left: 160px;
  top: 2492px;
}
.p5 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  left: 165px;
  top: 2527px;
  width: 635px;
  height: 704px;
}
.depositphotos-200709722-s {
  width: 448px;
  height: 220px;
  position: absolute;
  left: 826px;
  top: 2611px;
  object-fit: cover;
}
.lupo-3-2 {
  width: 448px;
  height: 220px;
  position: absolute;
  left: 826px;
  top: 2901px;
  object-fit: cover;
}
.informazioni-utili {
  color: #233c06;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  line-height: 54px;
  font-weight: 500;
  position: absolute;
  left: 160px;
  top: 3259px;
  width: 288px;
}
.line-55 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 1120px;
  height: 0px;
  position: absolute;
  left: 160px;
  top: 3313px;
}
.p6{
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  left: 643px;
  top: 3353px;
  width: 631px;
  height: 914px;
}
.eigen-bord-berenproject-edited-1 {
  width: 443px;
  height: 279px;
  position: absolute;
  left: 165px;
  top: 3517px;
  object-fit: cover;
}
.rifugio-del-monte-vallone-del-monte {
  width: 443px;
  height: 279px;
  position: absolute;
  left: 160px;
  top: 3852px;
  object-fit: cover;
}
.rectangle-52-ante {
  background: #65712a;
  width: 516px;
  height: 524px;
  position: absolute;
  left: 160px;
  top: 4364px;
}
.scopri-il-parco-della-sila {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  left: 219px;
  top: 4478px;
}
.p7{
  color: #000000;
  text-align: left;
  font-family: "Inter-Italic", sans-serif;
  font-size: 25px;
  font-weight: 400;
  font-style: italic;
  position: absolute;
  left: 219px;
  top: 4566px;
  width: 298px;
}
.rectangle-53 {
  background: #000000;
  width: 192px;
  height: 48px;
  position: absolute;
  left: 224px;
  top: 4744px;
}
.vai-al-parcosila {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  position: absolute;
  left: 243px;
  top: 4756px;
}
._0-ef-695-cfdb-770341-fce-3-aee-71781-ed-9-b {
  width: 577px;
  height: 524px;
  position: absolute;
  left: 704px;
  top: 4364px;
  object-fit: cover;
}
.rettangolofooteralm {
  background: #233c06;
  width: 100%;
  height: 205px;
  position: absolute;
  left: 0px;
  top: 4990px;
}
.nomesito25 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 35px;
  line-height: 24px;
  font-weight: 700;
  position: absolute;
  left: 943px;
  top: 5081px;
}
.nomesito35 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
  position: absolute;
  left: 164px;
  top: 5081px;
}

.attivita-ed-esperienze2 {
  color: #233c06;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 50px;
  line-height: 54px;
  font-weight: 700;
  position: absolute;
  left: 160px;
  top: 172px;
  width: 631px;
  height: 75px;
}
.linea-verticale {
  margin-top: -5px;
  border-style: solid;
  border-color: #233c06;
  border-width: 5px 0 0 0;
  width: 162px;
  height: 0px;
  position: absolute;
  left: 163px;
  top: 278px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.testotitolo{
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  line-height: 54px;
  font-weight: 500;
  position: absolute;
  left: 191px;
  top: 278px;
  width: 1088px;
  height: 162px;
}
.trekking {
  width: 1120px;
  height: 551px;
  position: absolute;
  left: 160px;
  top: 481px;
  object-fit: cover;
}
.p1 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  line-height: 54px;
  font-weight: 500;
  position: absolute;
  left: 165px;
  top: 1099px;
  width: 1119px;
  height: 1566px;
}

.escursioni-e-trekking-parco-nazionale-del-gran-paradiso-sentieri-alpini-che-attraversano-ghiacciai-e-pascoli-ideali-per-il-trekking-d-alta-quota-parco-nazionale-d-abruzzo-lazio-e-molise-faggete-vetuste-percorsi-adatti-a-tutti-i-livelli-e-possibilit-di-avvistare-fauna-selvatica-parco-nazionale-del-pollino-itinerari-tra-vette-selvagge-gole-e-i-caratteristici-pini-loricati-parco-nazionale-delle-dolomiti-bellunesi-ampia-rete-di-sentieri-con-panorami-spettacolari-e-rifugi-alpini-parco-nazionale-della-sila-boschi-di-faggio-e-pino-laricio-percorsi-immersi-nella-natura-dell-altopiano-parco-nazionale-delle-foreste-casentinesi-monte-falterona-e-campigna-foreste-secolari-eremi-e-abbazie-raggiungibili-a-piedi {
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  line-height: 54px;
  font-weight: 500;
  position: absolute;
  left: 159px;
  top: 2794px;
  width: 1119px;
  height: 663px;
}
.escursioni-e-trekking-parco-nazionale-del-gran-paradiso-sentieri-alpini-che-attraversano-ghiacciai-e-pascoli-ideali-per-il-trekking-d-alta-quota-parco-nazionale-d-abruzzo-lazio-e-molise-faggete-vetuste-percorsi-adatti-a-tutti-i-livelli-e-possibilit-di-avvistare-fauna-selvatica-parco-nazionale-del-pollino-itinerari-tra-vette-selvagge-gole-e-i-caratteristici-pini-loricati-parco-nazionale-delle-dolomiti-bellunesi-ampia-rete-di-sentieri-con-panorami-spettacolari-e-rifugi-alpini-parco-nazionale-della-sila-boschi-di-faggio-e-pino-laricio-percorsi-immersi-nella-natura-dell-altopiano-parco-nazionale-delle-foreste-casentinesi-monte-falterona-e-campigna-foreste-secolari-eremi-e-abbazie-raggiungibili-a-piedi-span {
  color: #233c06;
}
.escursioni-e-trekking-parco-nazionale-del-gran-paradiso-sentieri-alpini-che-attraversano-ghiacciai-e-pascoli-ideali-per-il-trekking-d-alta-quota-parco-nazionale-d-abruzzo-lazio-e-molise-faggete-vetuste-percorsi-adatti-a-tutti-i-livelli-e-possibilit-di-avvistare-fauna-selvatica-parco-nazionale-del-pollino-itinerari-tra-vette-selvagge-gole-e-i-caratteristici-pini-loricati-parco-nazionale-delle-dolomiti-bellunesi-ampia-rete-di-sentieri-con-panorami-spettacolari-e-rifugi-alpini-parco-nazionale-della-sila-boschi-di-faggio-e-pino-laricio-percorsi-immersi-nella-natura-dell-altopiano-parco-nazionale-delle-foreste-casentinesi-monte-falterona-e-campigna-foreste-secolari-eremi-e-abbazie-raggiungibili-a-piedi-span2 {
  color: #65712a;
}
.escursioni-e-trekking-parco-nazionale-del-gran-paradiso-sentieri-alpini-che-attraversano-ghiacciai-e-pascoli-ideali-per-il-trekking-d-alta-quota-parco-nazionale-d-abruzzo-lazio-e-molise-faggete-vetuste-percorsi-adatti-a-tutti-i-livelli-e-possibilit-di-avvistare-fauna-selvatica-parco-nazionale-del-pollino-itinerari-tra-vette-selvagge-gole-e-i-caratteristici-pini-loricati-parco-nazionale-delle-dolomiti-bellunesi-ampia-rete-di-sentieri-con-panorami-spettacolari-e-rifugi-alpini-parco-nazionale-della-sila-boschi-di-faggio-e-pino-laricio-percorsi-immersi-nella-natura-dell-altopiano-parco-nazionale-delle-foreste-casentinesi-monte-falterona-e-campigna-foreste-secolari-eremi-e-abbazie-raggiungibili-a-piedi-span3 {
  color: #000000;
}
.tipologie-di-attivit-associate-ai-parchi {
  color: #233c06;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  line-height: 54px;
  font-weight: 500;
  position: absolute;
  left: 159px;
  top: 2697px;
  width: 534px;
}
.line-88 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 1120px;
  height: 0px;
  position: absolute;
  left: 159px;
  top: 2751px;
}

.visite-guidate-e-laboratori-didattici-parco-nazionale-d-abruzzo-lazio-e-molise-centri-visita-per-conoscere-l-orso-bruno-marsicano-e-progetti-di-educazione-ambientale-parco-nazionale-del-gran-paradiso-guide-che-illustrano-la-storia-della-protezione-dello-stambecco-e-l-ecologia-alpina-parco-nazionale-delle-foreste-casentinesi-percorsi-guidati-per-scoprire-la-biodiversit-forestale-e-l-importanza-delle-faggete-vetuste-parco-nazionale-della-sila-laboratori-su-flora-fauna-e-antiche-tradizioni-agro-pastorali-es-transumanza-parco-nazionale-del-vesuvio-visite-geologiche-alla-scoperta-del-vulcano-e-della-sua-storia-eruttiva-in-quasi-tutti-i-parchi-possibile-prenotare-visite-guidate-e-percorsi-didattici-su-richiesta {
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  line-height: 54px;
  font-weight: 500;
  position: absolute;
  left: 159px;
  top: 3564px;
  width: 1121px;
  height: 678px;
}
.visite-guidate-e-laboratori-didattici-parco-nazionale-d-abruzzo-lazio-e-molise-centri-visita-per-conoscere-l-orso-bruno-marsicano-e-progetti-di-educazione-ambientale-parco-nazionale-del-gran-paradiso-guide-che-illustrano-la-storia-della-protezione-dello-stambecco-e-l-ecologia-alpina-parco-nazionale-delle-foreste-casentinesi-percorsi-guidati-per-scoprire-la-biodiversit-forestale-e-l-importanza-delle-faggete-vetuste-parco-nazionale-della-sila-laboratori-su-flora-fauna-e-antiche-tradizioni-agro-pastorali-es-transumanza-parco-nazionale-del-vesuvio-visite-geologiche-alla-scoperta-del-vulcano-e-della-sua-storia-eruttiva-in-quasi-tutti-i-parchi-possibile-prenotare-visite-guidate-e-percorsi-didattici-su-richiesta-span {
  color: #233c06;
}
.visite-guidate-e-laboratori-didattici-parco-nazionale-d-abruzzo-lazio-e-molise-centri-visita-per-conoscere-l-orso-bruno-marsicano-e-progetti-di-educazione-ambientale-parco-nazionale-del-gran-paradiso-guide-che-illustrano-la-storia-della-protezione-dello-stambecco-e-l-ecologia-alpina-parco-nazionale-delle-foreste-casentinesi-percorsi-guidati-per-scoprire-la-biodiversit-forestale-e-l-importanza-delle-faggete-vetuste-parco-nazionale-della-sila-laboratori-su-flora-fauna-e-antiche-tradizioni-agro-pastorali-es-transumanza-parco-nazionale-del-vesuvio-visite-geologiche-alla-scoperta-del-vulcano-e-della-sua-storia-eruttiva-in-quasi-tutti-i-parchi-possibile-prenotare-visite-guidate-e-percorsi-didattici-su-richiesta-span2 {
  color: #65712a;
}
.visite-guidate-e-laboratori-didattici-parco-nazionale-d-abruzzo-lazio-e-molise-centri-visita-per-conoscere-l-orso-bruno-marsicano-e-progetti-di-educazione-ambientale-parco-nazionale-del-gran-paradiso-guide-che-illustrano-la-storia-della-protezione-dello-stambecco-e-l-ecologia-alpina-parco-nazionale-delle-foreste-casentinesi-percorsi-guidati-per-scoprire-la-biodiversit-forestale-e-l-importanza-delle-faggete-vetuste-parco-nazionale-della-sila-laboratori-su-flora-fauna-e-antiche-tradizioni-agro-pastorali-es-transumanza-parco-nazionale-del-vesuvio-visite-geologiche-alla-scoperta-del-vulcano-e-della-sua-storia-eruttiva-in-quasi-tutti-i-parchi-possibile-prenotare-visite-guidate-e-percorsi-didattici-su-richiesta-span3 {
  color: #000000;
}

.birdwatching-parco-nazionale-d-abruzzo-lazio-e-molise-rapaci-come-l-aquila-reale-e-possibilit-di-avvistare-camosci-non-volatili-ma-di-notevole-interesse-parco-nazionale-delle-foreste-casentinesi-varie-specie-di-uccelli-che-nidificano-in-foresta-tra-cui-picchi-e-rapaci-diurni-parco-nazionale-dell-arcipelago-toscano-uccelli-marini-e-migratori-compresi-gabbiano-corso-e-falco-pellegrino-sulle-falesie-parco-nazionale-del-cilento-vallo-di-diano-e-alburni-zone-umide-interne-e-tratte-costiere-frequentate-da-uccelli-migratori {
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  line-height: 54px;
  font-weight: 500;
  position: absolute;
  left: 160px;
  top: 5300px;
  width: 1121px;
  height: 547px;
}
.birdwatching-parco-nazionale-d-abruzzo-lazio-e-molise-rapaci-come-l-aquila-reale-e-possibilit-di-avvistare-camosci-non-volatili-ma-di-notevole-interesse-parco-nazionale-delle-foreste-casentinesi-varie-specie-di-uccelli-che-nidificano-in-foresta-tra-cui-picchi-e-rapaci-diurni-parco-nazionale-dell-arcipelago-toscano-uccelli-marini-e-migratori-compresi-gabbiano-corso-e-falco-pellegrino-sulle-falesie-parco-nazionale-del-cilento-vallo-di-diano-e-alburni-zone-umide-interne-e-tratte-costiere-frequentate-da-uccelli-migratori-span {
  color: #233c06;
}
.birdwatching-parco-nazionale-d-abruzzo-lazio-e-molise-rapaci-come-l-aquila-reale-e-possibilit-di-avvistare-camosci-non-volatili-ma-di-notevole-interesse-parco-nazionale-delle-foreste-casentinesi-varie-specie-di-uccelli-che-nidificano-in-foresta-tra-cui-picchi-e-rapaci-diurni-parco-nazionale-dell-arcipelago-toscano-uccelli-marini-e-migratori-compresi-gabbiano-corso-e-falco-pellegrino-sulle-falesie-parco-nazionale-del-cilento-vallo-di-diano-e-alburni-zone-umide-interne-e-tratte-costiere-frequentate-da-uccelli-migratori-span2 {
  color: #65712a;
}
.birdwatching-parco-nazionale-d-abruzzo-lazio-e-molise-rapaci-come-l-aquila-reale-e-possibilit-di-avvistare-camosci-non-volatili-ma-di-notevole-interesse-parco-nazionale-delle-foreste-casentinesi-varie-specie-di-uccelli-che-nidificano-in-foresta-tra-cui-picchi-e-rapaci-diurni-parco-nazionale-dell-arcipelago-toscano-uccelli-marini-e-migratori-compresi-gabbiano-corso-e-falco-pellegrino-sulle-falesie-parco-nazionale-del-cilento-vallo-di-diano-e-alburni-zone-umide-interne-e-tratte-costiere-frequentate-da-uccelli-migratori-span3 {
  color: #000000;
}
.sport-all-aria-aperta-arrampicata-parco-nazionale-del-pollino-pareti-rocciose-ideali-per-climber-esperti-parco-nazionale-delle-dolomiti-bellunesi-falesie-di-diversa-difficolt-e-vie-ferrate-mountain-bike-parco-nazionale-della-sila-percorsi-sterrati-tra-boschi-e-altopiani-parco-nazionale-d-abruzzo-lazio-e-molise-sentieri-misti-fra-faggete-e-borghi-canoa-kayak-snorkeling-parco-nazionale-delle-cinque-terre-tratti-costieri-accessibili-via-mare-piccole-cale-parco-nazionale-dell-arcipelago-toscano-escursioni-in-kayak-tra-calette-e-fondali-ricchi-di-vita-marina-parco-nazionale-dell-arcipelago-di-la-maddalena-acque-cristalline-ideali-per-immersioni-e-snorkeling-sci-e-sport-invernali-parco-nazionale-della-sila-sci-di-fondo-e-ciaspolate-in-altopiano-parco-nazionale-d-abruzzo-lazio-e-molise-possibilit-di-sci-di-fondo-e-ciaspolate-in-aree-boschive {
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  line-height: 54px;
  font-weight: 500;
  position: absolute;
  left: 160px;
  top: 4326px;
  width: 1121px;
  height: 1652px;
}
.sport-all-aria-aperta-arrampicata-parco-nazionale-del-pollino-pareti-rocciose-ideali-per-climber-esperti-parco-nazionale-delle-dolomiti-bellunesi-falesie-di-diversa-difficolt-e-vie-ferrate-mountain-bike-parco-nazionale-della-sila-percorsi-sterrati-tra-boschi-e-altopiani-parco-nazionale-d-abruzzo-lazio-e-molise-sentieri-misti-fra-faggete-e-borghi-canoa-kayak-snorkeling-parco-nazionale-delle-cinque-terre-tratti-costieri-accessibili-via-mare-piccole-cale-parco-nazionale-dell-arcipelago-toscano-escursioni-in-kayak-tra-calette-e-fondali-ricchi-di-vita-marina-parco-nazionale-dell-arcipelago-di-la-maddalena-acque-cristalline-ideali-per-immersioni-e-snorkeling-sci-e-sport-invernali-parco-nazionale-della-sila-sci-di-fondo-e-ciaspolate-in-altopiano-parco-nazionale-d-abruzzo-lazio-e-molise-possibilit-di-sci-di-fondo-e-ciaspolate-in-aree-boschive-span {
  color: #233c06;
}
.sport-all-aria-aperta-arrampicata-parco-nazionale-del-pollino-pareti-rocciose-ideali-per-climber-esperti-parco-nazionale-delle-dolomiti-bellunesi-falesie-di-diversa-difficolt-e-vie-ferrate-mountain-bike-parco-nazionale-della-sila-percorsi-sterrati-tra-boschi-e-altopiani-parco-nazionale-d-abruzzo-lazio-e-molise-sentieri-misti-fra-faggete-e-borghi-canoa-kayak-snorkeling-parco-nazionale-delle-cinque-terre-tratti-costieri-accessibili-via-mare-piccole-cale-parco-nazionale-dell-arcipelago-toscano-escursioni-in-kayak-tra-calette-e-fondali-ricchi-di-vita-marina-parco-nazionale-dell-arcipelago-di-la-maddalena-acque-cristalline-ideali-per-immersioni-e-snorkeling-sci-e-sport-invernali-parco-nazionale-della-sila-sci-di-fondo-e-ciaspolate-in-altopiano-parco-nazionale-d-abruzzo-lazio-e-molise-possibilit-di-sci-di-fondo-e-ciaspolate-in-aree-boschive-span2 {
  color: #000000;
}
.sport-all-aria-aperta-arrampicata-parco-nazionale-del-pollino-pareti-rocciose-ideali-per-climber-esperti-parco-nazionale-delle-dolomiti-bellunesi-falesie-di-diversa-difficolt-e-vie-ferrate-mountain-bike-parco-nazionale-della-sila-percorsi-sterrati-tra-boschi-e-altopiani-parco-nazionale-d-abruzzo-lazio-e-molise-sentieri-misti-fra-faggete-e-borghi-canoa-kayak-snorkeling-parco-nazionale-delle-cinque-terre-tratti-costieri-accessibili-via-mare-piccole-cale-parco-nazionale-dell-arcipelago-toscano-escursioni-in-kayak-tra-calette-e-fondali-ricchi-di-vita-marina-parco-nazionale-dell-arcipelago-di-la-maddalena-acque-cristalline-ideali-per-immersioni-e-snorkeling-sci-e-sport-invernali-parco-nazionale-della-sila-sci-di-fondo-e-ciaspolate-in-altopiano-parco-nazionale-d-abruzzo-lazio-e-molise-possibilit-di-sci-di-fondo-e-ciaspolate-in-aree-boschive-span3 {
  color: #65712a;
}

.siti-archeologici-e-borghi-storici-parco-nazionale-delle-cinque-terre-i-caratteristici-borghi-marinari-riomaggiore-manarola-corniglia-vernazza-monterosso-parco-nazionale-del-vesuvio-vicinanza-a-siti-archeologici-come-pompei-ed-ercolano-extraparco-ma-strettamente-correlati-parco-nazionale-dell-arcipelago-toscano-isola-d-elba-con-le-residenze-napoleoniche-resti-romani-a-giannutri-parco-nazionale-del-cilento-vallo-di-diano-e-alburni-vicinanza-ai-siti-di-paestum-e-velia-ricchi-di-testimonianze-della-magna-grecia-parco-dell-etna-paesini-etnei-con-centri-storici-in-pietra-lavica-chiese-e-musei-dedicati-all-attivit-vulcanica {
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 25px;
  line-height: 54px;
  font-weight: 500;
  position: absolute;
  left: 158px;
  top: 6000px;
  width: 1121px;
  height: 669px;
}
.siti-archeologici-e-borghi-storici-parco-nazionale-delle-cinque-terre-i-caratteristici-borghi-marinari-riomaggiore-manarola-corniglia-vernazza-monterosso-parco-nazionale-del-vesuvio-vicinanza-a-siti-archeologici-come-pompei-ed-ercolano-extraparco-ma-strettamente-correlati-parco-nazionale-dell-arcipelago-toscano-isola-d-elba-con-le-residenze-napoleoniche-resti-romani-a-giannutri-parco-nazionale-del-cilento-vallo-di-diano-e-alburni-vicinanza-ai-siti-di-paestum-e-velia-ricchi-di-testimonianze-della-magna-grecia-parco-dell-etna-paesini-etnei-con-centri-storici-in-pietra-lavica-chiese-e-musei-dedicati-all-attivit-vulcanica-span {
  color: #233c06;
}
.siti-archeologici-e-borghi-storici-parco-nazionale-delle-cinque-terre-i-caratteristici-borghi-marinari-riomaggiore-manarola-corniglia-vernazza-monterosso-parco-nazionale-del-vesuvio-vicinanza-a-siti-archeologici-come-pompei-ed-ercolano-extraparco-ma-strettamente-correlati-parco-nazionale-dell-arcipelago-toscano-isola-d-elba-con-le-residenze-napoleoniche-resti-romani-a-giannutri-parco-nazionale-del-cilento-vallo-di-diano-e-alburni-vicinanza-ai-siti-di-paestum-e-velia-ricchi-di-testimonianze-della-magna-grecia-parco-dell-etna-paesini-etnei-con-centri-storici-in-pietra-lavica-chiese-e-musei-dedicati-all-attivit-vulcanica-span2 {
  color: #65712a;
}
.siti-archeologici-e-borghi-storici-parco-nazionale-delle-cinque-terre-i-caratteristici-borghi-marinari-riomaggiore-manarola-corniglia-vernazza-monterosso-parco-nazionale-del-vesuvio-vicinanza-a-siti-archeologici-come-pompei-ed-ercolano-extraparco-ma-strettamente-correlati-parco-nazionale-dell-arcipelago-toscano-isola-d-elba-con-le-residenze-napoleoniche-resti-romani-a-giannutri-parco-nazionale-del-cilento-vallo-di-diano-e-alburni-vicinanza-ai-siti-di-paestum-e-velia-ricchi-di-testimonianze-della-magna-grecia-parco-dell-etna-paesini-etnei-con-centri-storici-in-pietra-lavica-chiese-e-musei-dedicati-all-attivit-vulcanica-span3 {
  color: #000000;
}
.rettangolofooter7 {
  background: #233c06;
  width: 100%;
  height: 205px;
  position: absolute;
  left: -1px;
  top: 6787px;
}
.nomesito27 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 35px;
  line-height: 24px;
  font-weight: 700;
  position: absolute;
  left: 933px;
  top: 6867px;
}
.nomesito37 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
  position: absolute;
  left: 157px;
  top: 6867px;
}


